:root.theme-dark {
  --background-color: #000028;
  --main-title-color: #DB00FF;
  --title-color: #FF0070;
  --subtitle-color: #000028;
  --text-color: #F1B2CE;
  --accent-color: #FF0070;
  --button-color: #FF0070;
  --decor-element-color: #FF0070;
  --cover-image: url(../images/cover-image-dark.png);
}

.theme-dark .header__decor-element {
  display: block;
}
