:root.theme-light {
  --background-color: #FFF1F7;
  --main-title-color: #FFC2E6;
  --title-color: #353430;
  --subtitle-color: #353430;
  --text-color: #353430;
  --accent-color: #FF8DCB;
  --button-color: #353430;
  --decor-element-color: #353430;
  --cover-image: url(../images/cover-image-light.png);
}

.theme-light .header__decor-element {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: #FFF1F7;
    --main-title-color: #FFC2E6;
    --title-color: #353430;
    --subtitle-color: #353430;
    --text-color: #353430;
    --accent-color: #FF8DCB;
    --button-color: #353430;
    --decor-element-color: #353430;
    --cover-image: url(../images/cover-image-light.png);
  }

  .header__decor-element {
    display: none;
  }
}
