:root.theme-light {
  --main-color: #353430;
  --main-text-color: #353430;
  --accent-title-color: #FFC2E6;
  --accent-color: #FF8DCB;
  --main-background-color: #FFF1F7;
  --cover-image: url(../images/cover-image-light.png);
}

.theme-light .decorative-corners::before,
.theme-light .decorative-corners::after,
.theme-light .header__theme-menu-button_active {
  border-color: var(--main-color);
}

.theme-light .header__decor-element {
  display: none;
}

.theme-light .header__theme-menu-button,
.theme-light .content__head {
  color: var(--main-text-color);
}

.theme-light .header__theme-menu-button:hover {
  border: 1px solid rgba(53, 52, 48, .3);
}

.theme-light .header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: 1px solid var(--main-color);
}

.theme-light .content__title {
  color: var(--main-text-color);
}

@media (width >= 1024px) {
  .theme-light  .footer__text {
    text-shadow: 2px 2px 0 #FF0070;
  }
}

@media (prefers-color-scheme: light) {
  :root  {
    --main-color: #353430;
    --main-text-color: #353430;
    --accent-title-color: #FFC2E6;
    --accent-color: #FF8DCB;
    --main-background-color: #FFF1F7;
    --cover-image: url(../images/cover-image-light.png);
  }

  .decorative-corners::before,
  .decorative-corners::after,
  .header__theme-menu-button_active {
    border-color: var(--main-color);
  }

  .header__decor-element {
    display: none;
  }

  .header__theme-menu-button,
  .content__head {
    color: var(--main-text-color);
  }

  .header__theme-menu-button:hover {
    border: 1px solid rgba(53, 52, 48, .3);
  }
  
  .header__theme-menu-button:focus-visible {
    outline: none;
    border-bottom: 1px solid var(--main-color);
  }

  .content__title {
    color: var(--main-text-color);
  }

  @media (width >= 1024px) {
    .footer__text {
      text-shadow: 2px 2px 0 #FF0070;
    }
  }
}
